.nbar {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 88px;
}

.logo-signup {
    cursor: pointer;
    margin-right: auto;
    height: 64px;
}

.logo-login {
    cursor: pointer;
    margin-right: auto;
    height: 70px;
}

.logo-splash {
    cursor: pointer;
    margin-right: auto;
    height: 87px;
}

.logo-show {
    cursor: pointer;
    margin-right: auto;
    height: 97px;
}

.nav__links {
    list-style: none;
    margin: 0px 5px 0px 0px;
    font-family: helvetica, arial, sans-serif;
    display: inline;
}

.login-signup {
  margin-left: 3px;
}

.experience {
    font-size: 14px;
    color: #818b92;
    text-decoration: none;
    padding-left: 18px;
    border-left: 1px solid rgba(46,62,72,.12);
}

.experience:hover {
  color: #0088a9;;
}

.experience-text {
    font-size: 14px;
    color: #818b92;
    text-decoration: none;
    padding-left: 18px;
    border-left: 1px solid rgba(46,62,72,.12);
}

.myLinks {
    font-size: 14px;
    color: #0088a9;
    text-decoration: none;
}

.myLinks-login {
    font-size: 14px;
    color:  #f64060;
    text-decoration: none;
}

.blue-link {
  color: #1F24CC;
  font-weight: bold;
}

.blue-link:hover {
  color: #1F24CC;
  text-decoration: underline;
}

.myLinks_greet {
    font-size: 14px;
    color: #818b92;
    text-decoration: none;
    margin-right: 20px;
}

.myLinks_greet:hover {
    color: #f64060;
    transition: all 0.3s ease 0s
}

.myLinks_splash {
    font-size: 14px;
    color: #818b92;
    text-decoration: none;
    margin-right: 20px;
}

.myLinks_splash:hover {
    color: #0088a9;
    transition: all 0.3s ease 0s
}

.fakeButton {
  background: #0098AB;
  color: white;
  font-size: 11px;
  padding: 4px 5px 3px 5px;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.showname {
  color: #0088a9;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  margin-right: 30px;
}


.manageLogout {
  align-items: center;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  text-align: center;
}

.blankProfile {
  width: 60px;
  height: auto;
  border-radius: 50px;
  margin-right: 10px;
}

.logoffButton {
  float: right;
  padding: 10px;
}


/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  border: 1px dotted #777373;
  background-color: #f1f1f1;
  width: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
  right: 1px;
  color: black; 
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

