.footer a {
    text-decoration: underline;
    color: #ffffff;
}

.footer {
    background-color: #353e47;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: flex;
    /* margin: 0;
    padding: 0; */
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.footer ul {
    /* padding: 20px 10%;     */
    font-weight: 900;
}

.footer ul li {
    margin-top: 15px;
    /* padding: 20px 10%;     */
    font-weight: 400;
}


