/* This is the code for when the footer is short */

.footer {
    font-family: helvetica, arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background-color: #353e47;
    color: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    height: 68px;
}

.footer a {
    text-decoration: underline;
    color: #ffffff;
}

.footer ul {
    font-weight: 900;
}

.footer ul li {
    margin-top: 15px;
}

/* This is the code for when the footer is long */
.footerLong {
    font-family: helvetica, arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    background-color: #0f1721;
    color: #ffffff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: top;
    padding: 80px 10%;
    height: 356px;
}

.footerLong a {
    text-decoration: underline;
    color: #ffffff;
}

.footerLong ul {
    font-weight: 900;
}

.footerLong ul li {
    margin-top: 15px;
}

.icons-format {
    font-weight: normal;
    text-decoration: none !important;
}

.foot-link-text {
    padding-bottom: 30px;
}

.foot-link-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
