.l-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #dcdcdc;
  padding-top: 100px;
  padding-bottom: 15px;
  height: 500px;
  background-color: #fafafa;
}

.l-blue {
  width: 458px;
  height: 168px;
  padding: 16px 16px 16px 18px;
  box-sizing: border-box;
  background-color: #d8dfea;
  border-top:1px solid #6279ad;
}

.l-top {
  width: 458px;
  padding: 16px 16px 16px;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
}

.l-bottom {
  width: 458px;
  padding: 16px 16px 16px;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  border-top: none;
}

.wrapper-padlock {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.padlock {
  width: 16px;
  height: auto;
}

h2.login-label {
   font-size: 34px;
   font-weight: 600;
   padding-bottom: 8px;
}

 .color-link {
   color: #1F24CC;
   font-weight: 600;
 }

 .small-bold {
   font-size: 13px;
   font-weight: 500;
 }

.formClass {
  width: 424;
}

.login-submit {
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  width: 100px;
  height: 36px;
  margin-bottom: 16px;
  line-height: 1.45;
  min-height: 36px;
  outline: 0;
  vertical-align: middle;
  text-align: center;
  background-color: #3b5998;
  color: white;
  justify-content: left;
  /* margin-left: 240px; */
  padding: 8px;
}

.session-submit {
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    /* matches meetup button length */
    width: 82px;
    height: 36px;
    /* reset to 100 so demo user and login buttons are same length */
    width: 100px;
    margin-bottom: 16px;
    line-height: 1.45;
    min-height: 36px;
    outline: 0;
    vertical-align: middle;
    text-align: center;
    background-color: #ed1c40;
    color: white;
 }


.log-labels {
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
}

.login-input {
  background-color: #fafafa;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,.12);
  box-shadow: none;
  box-sizing: border-box;
  margin: 0 0 4px;
  max-width: 100%;
  padding: 8px;
  width: 425.14px;
  height: 33px;
  margin-bottom: 25px;
  margin-top: 2px;
  text-align: left;
}

.login-input:focus {
  border: 1px solid blue;
}



/* dimensions of login object - form  458 x 610  -- less 164 */
/* 1px solid rgba(0,0,0,.12)!important; */


.login-form-container {
   display: flex;
   justify-content: center;
   padding-top: 100px;
   height: 480px;
   background-color: #fafafa;
 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .login-top {
   width: 100%;
   display: flex;
   align-items: baseline;
   /* border: 1px solid black; */
  /* border: 1px solid rgba(0,0,0,.12) !important;
  border-bottom: 1px solid rgba(0,0,0,.26) !important; */
  /* margin-left: 10px; */

}

/* h2.login-label {
   font-size: 34px;
   font-weight: 700;
   padding-bottom: 8px;
}

 .color-link {
   color: #1F24CC;
   font-weight: 600;
 }

 .small-bold {
   font-size: 13px;
   font-weight: 500;
 } */

 /* .login-input {
    background-color: #fafafa;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.12);
    box-shadow: none;
    box-sizing: border-box;
    margin: 0 0 4px;
    max-width: 100%;
    padding: 8px;
    width: 425.14px;
    height: 39.2px;
    margin-bottom: 50px;
 } */

.top-login {
    border: 10px solid rgba(0,0,0,.12);
    padding: 16px 16px 0px;
}

.bottom-login {
    border: 10px solid rgba(0,0,0,.12);
}


/* .padlock {
  width: 16px;
  height: auto;
} */


.login-form-box {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  width: 456px;
  border: 1px solid rgba(0,0,0,.26) !important;
  margin-bottom: 10px; 
  padding: 16px;
}

