
/* .reg-form-creds {
428  762.562 -- 24, 16, 16, 8
color rgba 0,0,0,0.87
color: rgba(0, 0, 0, .87);
font - family: "Graphik Meetup", helvetica, arial, sans - serif;
font - size: 16px;
font - weight: 400;
line - height: 1.45;
}

labels fint 13px
helvitica 

red button 
#ed1c40 */

/* 400
28px font size

color: rgba(0,0,0,.87);
font-family: "Graphik Meetup",helvetica,arial,sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.45; */





.signup-form-container {
   display: flex;
   justify-content: center;
   padding-top: 100px;
   height: 800px;
   background-color: #fafafa;
   font-weight: 600;
   font-size: 13px;
  border-top: 1px solid #dcdcdc;
}

.signup-form {
    width: 428px;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.sign-up-label {
    font-family: helvetica, arial, sans-serif;
    font-weight: 600;
    font-size: 28px;
    width: 428px;
    text-align: center;
    /* 400
    28px font size

    color: rgba(0,0,0,.87);
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45; */

}

.signup-input {
    /* background-color: #fafafa; */
    /* this makes the background grey */
    background-color: rgba(0,0,0,.02);
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.12);
    box-shadow: none;
    box-sizing: border-box;
    margin: 4px 0px 10px;
    max-width: 100%;
    padding: 8px;
    width: 100%;
    height: 39.2px;
    /* margin-bottom: 16px; */
    /* margin-top: 5px; */
}

.signup-input:focus {
  border: 1px solid blue;
  background-color: white;
}


.signup-form-box {
    font-family: helvetica, arial, sans-serif;
     /* font-family: Arial, Helvetica, sans-serif; */
     /* width: 500px; */
}


.signup-submit {
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.45;
    min-height: 36px;
    outline: 0;
    vertical-align: middle;
    text-align: center;
    background-color: #ed1c40;
    color: white;
    margin-top: 10px;
}

.signup-submit:hover {
  background-color: #ca1635;
  transition: all 0.3s ease 0s
}
