 .home-container {
   display: flex;
   justify-content: center;
   padding-top: 100px;
   height: 480px;
   /* background-image: url("panorama.png"); */

   //This sets the background image to the image mapped in the window - application.html.erb in views layouts
    background: { image: asset_url("panorama.png") }
 }
