.c-page-lt {
    background-color: #fafafa;
    font-size: 16px;
    line-height: 1.45;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: "liga","kern";
    -moz-font-feature-settings: "liga=1, kern=1";
    -ms-font-feature-settings: "liga","kern";
    -o-font-feature-settings: "liga","kern";
    -webkit-font-feature-settings: "liga","kern";
    font-feature-settings: "liga","kern";
}

.groups-index-links {
    font-size: 14px;
    color: #8a8a8a;    
    text-decoration: none;
}

.groups-index-links-text {
    font-size: 14px;
    color: #8a8a8a;    
    text-decoration: none;
}

.member-home-bounds {
    color: white;
    text-align: center;
    font-size: 32px;
    line-height: 1.45;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 600;
    width: 100%;
    height: 88px;
    padding: 32px 0 48px;
    margin: 0 auto;
    background-color: #00455d;
}

.member-home-little {
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 1.45;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 400;
    width: 100%;
    height: 69px;
    padding: 10px 0 48px;
    margin: 0 auto;
    background-color: #00455d;
}

.find-navbar-wrap {
    display: flex;
    margin-top: -45px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 69px;
    height: 86px;
    background: transparent;
    opacity: 1;
    color: rgba(255,255,255,.7);
}

.searchForm {
    width: 709px;
    padding: 5px 10px 10px 10px;
    background-color:#0e1721;
}

.search-label {
    color: white;
    font-size: 16px;
    line-height: 1.45;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 600;
    width: 30px;
}

.wrapper-magnify {
    width: 98%;
    height: 45px;
    display: flex;
    background-color: #ffffff;
}

.magnify-icon {
    border: 2px solid black;
    width: 28px;
    height: 48px;
}

.magnify-icon:hover {
    box-shadow: 11px 12px 16px #c5c4c4;
}

.magnify-icon-button {
    width: 29px;
    height: auto;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.groupItemStyle {
    float: left;
    padding-top: 10px;
    width: 300px;
    height: 150px;
    color: #ffffff;
    margin-left: 15px;

    border-radius: 6px;
    border: #878787 solid 2px;
    margin-bottom: 10px;

    font-size: 22px;
    line-height: 1.45;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 900;

    // AWS testing changed bk-size may need to update later
    // background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;

    // This sets the background image to the image mapped in the window - application.html.erb in views layouts
    // Also must change file extension to scss from css

    // Removed this line on 02/14/2020 when adding code for AWS image source for groups
    // background: { image: asset_url("peopleHangout.png") }
}
 

.button-div {
    padding: 10px;
    font-size: 16px;
    line-height: 1.45;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 600;
    background-color:#0e1721;
    display: flex;
    width: 274px;
}

//This should be the Selected feature
.selected-button-option {
    color: #ffffff;
    border: #8a8a8a solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
    background-color:#3f454e;
}

//This should be the de-selected feature
.deselected-button-option {
    border: #8a8a8a solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
    background-color:#0e1721;
}

.c-page-body {
    margin: 0 auto;
    color: rgba(0,0,0,.87);
    font-size: 13px;
    width: 986px;
    min-height: 300px;
    min-height: 1300px;
    padding: 0 1em;
    padding-top: 16px;
    padding-bottom: 1.25em;
}

.unit-size5of7-full-width {
    width: 976px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.myheader {
    height: 28px;
    color: rgba (0,0,0,0.87);
    margin: 20px 0 16px 15px;
    padding: 0 0 8px;
    font-size: 13px;
    line-height: 1.45;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 600;
}

.search-page-body {
    margin: 0 auto;
    color: rgba(0,0,0,.87);
    font-size: 13px;
    width: 986px;
    min-height: 300px;
    padding: 0 1em;
    padding-top: 16px;
    padding-bottom: 1.25em;
}

.my-search-no-results {
    height: 28px;
    color: rgba (0,0,0,0.87);
    margin: 20px 0 16px 15px;
    padding: 0 0 8px;
    font-size: 32px;
    line-height: 1.45;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 600;
}

.box-ul {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.li-formatting {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 308px;
    height: 182px;
    margin-bottom: 16px;
    margin-right: 16px;
    margin-left: 3px;
}

.li-formatting p:last-child {
    margin-bottom: 50px;
}

.motivation-section {
    padding-top: 48px;
    padding-bottom: 32px;
    margin-top: 32px;
    margin-bottom: 48px;
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.button--showmore {
    margin-top: 500px;
    display: block!important;
    width: 100%!important;
    text-align: center!important;
    padding: 9px!important;
    user-select: none;
    cursor: pointer;
    text-decoration: none!important;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    min-height: 36px;
    outline: 0;
    padding: 0 16px;
    line-height: 1;
    margin-bottom: 16px;
    border: 1px solid rgba(0,0,0,.12);
    stroke: transparent;
    fill: rgba(0,0,0,.87);
    background: #fff;
    opacity: 1;
}

.group-input {
    color: black;
    font-size: 32px;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    background-color: #fafafa;
    width: 100%;
}

