/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */
/* Header Section */
/* ---------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------- */

.header-stripe {
    border-top: 2px solid #e6e7e9;
    background-color: #ffffff;
}

.header-inner {
    margin-top: 20px;
    width: 60%;
    display: flex;
    height: 356px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
}

.header-left {
    // background-size: cover;
    // background-repeat: no-repeat;

    height: 377px;
    padding-right: 55px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header-left img {
    margin-top: -50px;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    padding-bottom: 10px;
}

.header-right {
    line-height: 1.45;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 900;
    font-size: 38px;
    width: 50%;
    height: 377px;
}

.header-right p {
    line-height: 1.45;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.group_show_icons {
    width: 20px;
    height: 20px;
}

.group_show_icons_wrapper {
    display: flex;
}

.spacer {
    height: 10px;
}

.menu-stripe {
    border-top: 1px solid #e6e7e9;
    height: 67px;
    background-color: #ffffff;
}

.menu-div {
    width: 60%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 67px;
}

.menu-choices {
    align-items: center;
    padding: 10px 40px 10px 0;    
    color: #2e3e48;
}

.menu-selected {
    align-items: center;
    padding: 10px 0px 10px 0;    
    color: #2aa8cb;
}

// this may not be used anymore - delete-button may act as button class for all
.join-button {
    width: 100px;
    height: 20px;
    text-align: center;
    background-color: #f65858;
    border: 1px solid #f65858;
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 10px 20px;
}

.delete-button {
    width: 120px;
    height: 20px;
    text-align: center;
    background-color: #f65858;
    border: 1px solid #f65858;
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 10px 20px;
}

.report-button {
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #c5c4c4;
    color: #757575;
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 10px 10px 10px 10px;
}

.grp-btn-spacer {
    padding: 0 0 0 18px;
}

.page-wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.page-wrapper h1 {
        line-height: 1.45;
        font-family: "Graphik Meetup",helvetica,arial,sans-serif;
        font-weight: 900;
        font-size: 20px;
}

.page-wrapper p {
        line-height: 1.45;
        font-family: "Graphik Meetup",helvetica,arial,sans-serif;
        font-weight: 400;
        font-size: 16px;
}

.related-events {
    height: 100px;
}

.fakeLink {
    color: #2e3e48;
    cursor: pointer;
}

.fakeLink:hover {
    color: #2aa8cb;
}

.fakeLink-text {
    color: #2e3e48;
}
