.event-stripe {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.event-stripe h1 {
    line-height: 1.45;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 900;
    font-size: 20px;
}


.event-stripe p {
    line-height: 1.45;
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.event-titles {
    /* width: 25%; */
    font-family: "Graphik Meetup", helvetica, arial, sans - serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.45;
}

.event-date {
    /* width: 25%; */
    font-family: "Graphik Meetup", helvetica, arial, sans - serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.45;
    color: #0098ab;
}

.event-box {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    padding: 0px 0px 10px 0px;
}

.event-data {
    text-align: justify;
    align-items: flex-start;
    float: left;
    float: right;
}

.event-loc {
    color: #707070;
    text-align: justify;
    align-items: flex-start;
    float: left;
    float: right;
}

.event-border-space {
    padding: 10px 10px 50px 10px;
    margin: 0px 0px 50px 0px;
    border-radius: 6px;
    /* box-shadow: 1px 1px 3px blue;
    box-shadow: 1px 1px 3px #c5c4c4; */
    background-color: #fff;
    border: 2px solid #888888;
}

.event-border-space:hover {
    box-shadow: 11px 12px 16px black;
    border: 2px solid #0098ab;
    box-shadow: 11px 12px 16px #0098ab;
}

.create-event-btn {
    font-weight: 900;
    width: 120px;
    height: 20px;
    text-align: center;
    background-color: #f65858;
    border: 1px solid #f65858;
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    padding: 10px 20px;
}

