.page-container {
    display: flex;
}

.page-events {
    width: 70%;
    margin-top: 20px;
    margin-right: 10px;
}

.page-calendar {
    width: 30%;
    margin-top: 20px;
}

.noEventText {
    font-family: "Graphik Meetup",helvetica,arial,sans-serif;
    padding: 50px;
    font-size: 20px;    
}
