.event-show-banner-full {
    background-color:  #ffffff;
    border: 1px solid #878787;
}

.event-show-banner {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color:  #ffffff;
    text-align: center;
    padding: 25px 50px 25px 100px;
    /* border: 5px solid green; */
}

.event-calendar-date-image {
    width: 10%;
    border: 1px solid #ced2d4;
    border-radius: 5px;
    background-color: #f6f7f8;
    color: #f13a59;
    margin-right: 10px;
    height: 55px;
    width: 55px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0px 0px 0px;
    margin: 0px 20px 0px 0px;
}

.event-details-container {
    width: 55%;
    text-align: left;
    padding: 0px 60px 0px 0px;
    /* border: 5px solid red; */
}

.event-details-date {
    font-family: "Graphik Meetup", helvetica, arial, sans - serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.45;
    color: #0098ab;
}

.event-details-title {
    font-weight: bold;
    /* keeps the text from line breaking */
    white-space: nowrap;
    font-size: 32px;
    padding: 0px 0px 10px 0px;
}

.event-details-description {
    font-size: 14px;    
}

.event-details-location {
    font-size: 16px;
}

.event-show-icon {
    width: 20px;
    height: 20px;
}

.event-show-icon-wrapper {
    display: flex;
    padding: 0px 0px 20px 0px;
}

.event-loc-img {
    color: #707070;
}

.event-edit-link-div { 
    font-size: 14px;
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
    /* border: 5px solid green; */
}

.event-edit-link {
    color: #0098ab;
    font-size: 14px;
    /* padding: 0px 0px 20px 0px; */
    /* margin: 0px 0px 0px 0px; */
    /* border: 5px solid green; */
}

.event-delete-link {
    color: #f13a59;
    font-size: 14px;
    padding: 0px 0px 0px 0px;
}

.event-attending-container {
    width: 35%;

    font-size: 16px;
    margin: 0px 0px 0px 40px;
}

.event-attending-title {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding: 0px 0px 10px 0px;
}

.event-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-button-selected {
    width: 160px;
    height: 17px;
    background-color: #0098ab;
    border: 1px solid #ced2d4;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    /* margin: 10px 0px 10px 0px; */
}

.event-button-unselected {
    width: 160px;
    height: 17px;
    background-color: #f5f5f5;
    color: #c5c4c4;
    border: 1px solid #c5c4c4;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    /* margin: 10px 0px 10px 0px; */
}

.event-attending-status {
    font-size: 14px;
    text-align: left;
    padding: 10px 0px 0px 0px;
}

.event-show-body-full {
    width: 100%;
    min-height: 300px;
    /* border: 1px solid #878787; */
    /* background-color:  #ffffff; */
    background-color:  #f5f5f5;
}

.event-show-body {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* background-color:  #ffffff; */
    background-color:  #f5f5f5;
    text-align: center;
    padding: 25px 50px 25px 100px;
}

.event-data-section {
    width: 65%;
    text-align: left;
    /* border: 5px solid red; */
}

.event-data-title {
    font-size: 28px;
    font-weight: bold;
    padding: 0px 0px 10px 0px;
}

.event-map-section {
    width: 35%;
    /* border: 5px solid green; */
}

